body {
    font-family: Liberation Sans;
}
table {
  overflow: hidden;
}
tr:hover {
  background: #3d3d3d;
}
td,
th {
  position: relative;
  white-space: nowrap;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #3d3d3d;
  left: 0;
  top: -50000px;
  height: 1000000px;
  width: 100%;
  z-index: -1;
}
a.comment-indicator:hover + comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}
a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}
a:link {
    color: cyan;
}
a:visited {
    color: darkcyan;
}
comment {
  display: none;
}
th, td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000
}
html { color: rgb(191, 191, 191); background: rgb(31, 31, 31) !important; }